<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <form action="/login/github" method="POST">
        <button type="submit">
            <i class="fa fa-github"></i> Sign in with GitHub
        </button>
    </form>
</body>
</html>