<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
<form action="/logout" method="POST">
    <button type="submit">
        Logout
    </button>
</form>
<hr/>
Success!
<br>
<br>
<a href="/setup">← back</a>
</body>
</html>